header {
    font-family: "arial", Arial, Helvetica, sans-serif;  
    text-align: center; 
    color: darkgray;
    background-color:skyblue; 
    position: relative;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 20%;    
}
.liste{
    font-family: "arial", Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: white;
    background-color: darkred;
    margin-right: 70%;
    position: absolute;  
    padding-top: 30%;    
}
p{
    color: darkgray; 
}
.corp{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    color: gray;
    background-color:white;
    padding-left: 22%;    
}
table, th,td{
    border: 1px solid black;
    padding: 15px;
    text-align: left;
}
.case{
    table-layout:fixed;
    width:50% ;
    height: 50px;
}
.smile{
    padding-bottom: 100px;
}
